<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ttak.agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>HOMEBREW_PREFIX/bin/ttak</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>HOMEBREW_PREFIX/var/log/ttak.log</string>
    <key>StandardErrorPath</key>
    <string>HOMEBREW_PREFIX/var/log/ttak.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
